__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

.env
venv/
.env.local
.env.*.local

.git/
.gitignore
.dockerignore
Dockerfile

tests/
__tests__/

node_modules/
*.tgz

*.md
*.txt
*.yaml
*.yml

.idea/
.vscode/
*.swp
*.bak